{{> header}}
{{> navbar}}   
    <div clas="row">
        <div class="col-8">
           <h1>
               Club Deportivo Universidad de Chile!!
           </h1> 
        </div>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse maiores neque ea nemo voluptatibus necessitatibus quibusdam impedit, id molestiae deleniti? Dolorum ad omnis quasi rerum commodi cumque iusto quis accusamus!
        </p>
        <div class="col-4">
            <img src="/assets/img/udech.png" class="img-thumbnail"> 
        </div>
    </div>




{{> footer}}